---
- name: Backup all devices
  hosts: all
  gather_facts: no
  
  vars:
    backup_timestamp: "{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"
    backup_dir: "backups/{{ inventory_hostname }}"
  
  tasks:
    - name: Backup config
      ansible.netcommon.cli_command:
        command: show run
      register: backup

    - name: Save backup to file
      delegate_to: localhost
      copy:
        content: "{{ backup.stdout[0] | default(backup.stdout) }}"
        dest: "{{ backup_dir }}/{{ inventory_hostname }}-{{ backup_timestamp }}.cfg"
