---
- name: Backup all devices
  hosts: all
  gather_facts: no

  vars:
    backup_timestamp: "{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"
    backup_dir: "backups/{{ inventory_hostname }}"   # ← 장비별 폴더

  tasks:
    - name: Backup config
      ansible.netcommon.cli_command:
        command: show run
      register: backup

    - name: Ensure backup directory exists
      delegate_to: localhost
      file:
        path: "{{ backup_dir }}"
        state: directory
        mode: '0755'

    - name: Save backup to file
      delegate_to: localhost
      copy:
        content: "{{ backup.stdout[0] | default(backup.stdout) }}"
        dest: "{{ backup_dir }}/{{ inventory_hostname }}-{{ backup_timestamp }}.cfg"
